language: node_js
sudo: false
node_js:
- '4.2'
before_install:
- cp ci/travis-ci.sh $HOME/
- chmod +x $HOME/travis-ci.sh
- cp ci/npm-config.sh $HOME/
- chmod +x $HOME/npm-config.sh
- "$HOME/travis-ci.sh before-install"
before_script:
- "$HOME/travis-ci.sh before-script"
script:
- "$HOME/travis-ci.sh script"
after_script:
- "$HOME/travis-ci.sh after-script"
after_success:
- "$HOME/travis-ci.sh after-success"
before_deploy:
- "$HOME/travis-ci.sh before-deploy"
- cd built
after_deploy:
- "$HOME/travis-ci.sh after-deploy"
cache:
  directories:
  - node_modules
notifications:
  irc:
  - chat.freenode.net#kalabox
  email:
    recipients:
    - mike@kalabox.io
    - riley@kalabox.io
    on_success: always

